/* Imports -----------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Map styles ------------------------------------------------------------- */

body {
    margin:0;
    padding:0;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

a:link, a:visited {
    color: #d06040;
    text-decoration: underline;
    font-weight: bold;
}

a:hover, a:active {
    color: #a0a0a0;
    text-decoration: underline;
    font-weight: bold;
}

#infobox {
    position: absolute;
    margin: 0px;
    padding: 10px;
    top: 10px;
    left: 10px;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    color: #606060;
}

/* Selection styles -------------------------------------------------------- */

.mapboxgl-popup-content {
    margin: 0;
    padding: 0;
    background: #ffffff;
    border-radius: 6px;
    width: 270px;
}

#selection {
    margin: 0 0 5px 0;
    padding: 4px;
    width: 96%;
    border: 1px solid #c0c0c0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

#selection:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #d83808;
    background: #fff3ef;
}

.messagebox {
    margin: 0;
    padding: 10px;
    /* width: 250px; */
}

#namebox {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 9px 0;
    padding: 0;
}

#namebox p {
    margin: 0;
    padding: 0
    font-family: inherit;
    font-size: 14pt;
    font-weight: bold;
    line-height: 1.3em;
    color: #d06040;
}

#contentbox {
    margin: 0 0 12px 0;
    padding: 0;
}

#contentbox p {
    margin: 0 0 3px 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: #606060;
}

#buttonbox {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#buttonbox button {
    outline: none;
    margin: 0;
    height: 30px;
    width: 100%;
    font-family: inherit;
    font-size: 11pt;
    font-weight: bold;
    border-radius: 6px;
    background: #ffffff;
    color: #909090;
    border: 1px solid #c0c0c0;
}

#buttonbox button:active {
    color: #d06040;
    background: #ffffff;
    border-color: #d06040;
}
