<!DOCTYPE html>
<html>
<head>
    <title>MSOA Names</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="/static/msoa.bundle.js"></script>
    <link href="/static/index.css" rel="stylesheet" />
</head>
<body>
    <header><img id="portcullis" src="/static/portcullis.svg" /></header>
    <div id="main">
        <div id="column">
            <h1>Help us name your neighbourhood</h1>
            <p>Here at the Commons Library we’re big fans of <a href="https://commonslibrary.parliament.uk/local-data-browse-by-topic/">local data</a> &mdash; data which tells us about variation between small neighbourhoods in different parts of the country. There are many ways of carving up the UK into small areas for statistical purposes. For instance, people often use <a href="https://en.wikipedia.org/wiki/Wards_and_electoral_divisions_of_the_United_Kingdom">wards</a> to talk about variation below the level of constituencies or local authorities.</p>
            <p>Other options are available, such as <a href="https://www.ons.gov.uk/methodology/geography/ukgeographies/censusgeography">geographical divisions</a> created through the census. However, these often don’t have recognisable names, making it hard to use them to communicate local data – few people know what area &ldquo;Leeds 109&rdquo; or &ldquo;E02006481&rdquo; refers to, for example We’ve set out to solve this problem.</p>
            <p><b>We’ve come up with a first draft of local names for every Middle-Layer Super Output Area (&lsquo;MSOA&rsquo;) area in England and Wales &mdash; and we want your help to correct and improve it.</b> On this map you can view our draft and make suggestions for alternatives. Simply click on an area to suggest an alternative name.</p>
            <p>Neighbourhood names are tricky and difficult to capture, so we want to make use of your local knowledge in checking our suggested names. We want to know the names you use to refer to your neighourhoods. Once we’ve gathered enough feedback and suggestions, we’ll be using this set of MSOA names to communicate local data in our publications.</p>
            <p>This project covers only England and Wales, because Scottish and Northern Irish census geographies are defined separately.</p>
            <div class="accept">
                <form id="acceptform" action="/map" method="GET">
                    <input id="long" name="long" type="hidden" value="-0.116773" />
                    <input id="lat" name="lat" type="hidden" value="51.510357" />
                    <input id="zoom" name="zoom" type="hidden" value="12.5" />
                    <button id="acceptbutton" class="acceptbutton" type="submit">
                        Continue
                    </button>
                </form>
            </div>
        </div>
        <nav></nav>
        <aside></aside>
    </div>
    <footer>Copyright &copy; 2018 House of Commons Library</footer>
    <script>
    msoa.handleLocation();
    </script>
</body>
</html>
