<!DOCTYPE html>
<html>
<head>
    <title>MSOA Names</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="/msoanames/static/msoa.bundle.js"></script>
    <link href="/msoanames/static/index.css" rel="stylesheet" />
</head>
<body>
    <header><img id="portcullis" src="/msoanames/static/portcullis.svg" /></header>
    <div id="main">
        <div id="column">
            <h1>Help us name your neighbourhood</h1>

            <p class="closing">Closing date for suggestions: 15 July 2019</p>

            <p class="gotomap"><a href="javascript:document.getElementById('acceptform').submit();">Click here to go straight to map</a></p>

            <p>Here at the Commons Library we’re fans of <a href="https://commonslibrary.parliament.uk/local-data-browse-by-topic/">local data</a> &mdash; which shows how small areas vary in different parts of the country. And there are many ways of carving up the UK into small areas for these statistical purposes &mdash; for example, people often use <a href="https://en.wikipedia.org/wiki/Wards_and_electoral_divisions_of_the_United_Kingdom">council wards</a> to talk about variation below the level of constituencies or local authorities.</p>

            <p>There are other geographies that we can’t currently use to communicate local data, because they don’t have recognisable names. For example, some geographies used in the Census only have names like “Leeds 109” or “E02006481”, and almost nobody would understand what these refer to. We’ve set out to solve this problem.</p>

            <p><b>We’ve created a set of neighbourhood names for every Middle-Layer Super Output Area (&lsquo;MSOA&rsquo;) in England and Wales &mdash; and we want to borrow your local knowledge to help to correct and improve it.</b></p>

            <p>On the next page is a map that you can use to view our draft neighbourhood names and make suggestions for alternatives. <b>Simply click on an area to suggest an alternative name</b>. We want to know the names that you use to refer to your neighbourhoods. This is a draft and we know that there will be mistakes.</p>

            <p>Once we have gathered enough feedback and suggestions we’ll be using this set of names to communicate local data in our publications, as an alternative to wards.</p>

            <p>This project covers only England and Wales, because Scottish and Northern Irish Census geographies are defined separately.</p>

            <div class="accept">
                <form id="acceptform" action="/msoanames/map" method="GET">
                    <input id="long" name="long" type="hidden" value="-0.116773" />
                    <input id="lat" name="lat" type="hidden" value="51.510357" />
                    <input id="zoom" name="zoom" type="hidden" value="12.5" />
                    <button id="acceptbutton" class="acceptbutton" type="submit">
                        Continue to map
                    </button>
                </form>
            </div>
        </div>
        <nav></nav>
        <aside></aside>
    </div>
    <footer>Copyright &copy; 2018-19 House of Commons Library</footer>
    <script>
    msoa.handleLocation();
    </script>
</body>
</html>
