<!DOCTYPE html>
<html>
<head>
    <title>MSOA Names</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="/static/mapbox-gl.js"></script>
    <link href="/static/mapbox-gl.css" rel="stylesheet" />
    <script src="/static/msoa.bundle.js"></script>
    <link href="/static/map.css" rel="stylesheet" />
</head>
<body>
    <div id="map"></div>
    <div id="infobox">Select an area to suggest a new name, or visit the <a href="/">homepage</a>.</div>
    <script>
    const long = msoa.getQueryString("long");
    const lat = msoa.getQueryString("lat");
    const zoom = msoa.getQueryString("zoom");
    msoa.startMap(long, lat, zoom);
    </script>
</body>
</html>
