<!DOCTYPE html>
<html>
<head>
    <title>MSOA Names</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="/msoanames/static/mapbox-gl.js"></script>
    <link href="/msoanames/static/mapbox-gl.css" rel="stylesheet" />
    <script src="/msoanames/static/msoa.bundle.js"></script>
    <link href="/msoanames/static/map.css" rel="stylesheet" />
</head>
<body>
    <div id="map"></div>
    <div id="infobox">Select an area to suggest a new name, or visit the <a href="/msoanames">homepage</a>.</div>
    <script>
    const long = msoa.getQueryString("long");
    const lat = msoa.getQueryString("lat");
    const zoom = msoa.getQueryString("zoom");
    const csrf = "{{ csrf_token() }}";
    msoa.startMap(long, lat, zoom, csrf);
    </script>
</body>
</html>
