<!DOCTYPE html>
<html lang="en">
<head>
    <title>MSOA Names</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A dataset of names for Middle-Layer Super Output Areas (MSOAs) produced by the House of Commons Library." />
    <link href="/msoanames/static/index.css" rel="stylesheet" />
</head>
<body>
    <header><img id="portcullis" src="/msoanames/static/portcullis.svg" alt="Parliament's portcullis logo"></header>
    <div id="main">
        <div id="column">

            <h1>House of Commons Library MSOA Names</h1>

            <p>MSOA Names has moved to a new location <a href="https://houseofcommonslibrary.github.io/msoanames/">here</a>. Please update your bookmarks and tools.</p>

        </div>
        <nav></nav>
        <aside></aside>
    </div>
    <footer><a href="https://www.parliament.uk/site-information/accessibility/">Accessibility statement</a> | Copyright &copy; <a href="https://commonslibrary.parliament.uk">House of Commons Library</a></footer>
</body>
</html>
